*{
    margin: 0
}


.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 20px 50px;

    height: min-content;
    width: auto;
    background: rgb(0, 255, 51);
}

.element{
    color: rgb(3, 154, 54);
}

.image{
    height: min-content;
}

.content{
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    background-color: blue;
    border: 2px solid black;
    border-radius: 4px;
}

.element:hover .content{
    display: flex;
}
.futer{



}

main{
    display: flex;
    width: auto;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    flex: 1;
    
}
main .Content{
    width: 100%;




}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

html{
    height: 100%;
    width: 100%;
}

.menu{
    background: #000;
    height: 75px;
    width: 100px;
    padding: 20px 50px;
    color: blue;
}
